@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

#myVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height:  100vh; 
    /*background: url('background-image.png') no-repeat;*/
    background-size: cover; 
    background-position: center; 
    cursor: url('cursor.png'), auto;
}

#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 20px 100px;  
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 99;
    /* color: white;
    text-align: center;
    padding: 1em 0;
    font-weight: bold; */
}

.logo{ 
    font-size: 2em; 
    color: #fff;
    user-select: none;
}

.navigation a{ 
    position: relative; 
    font-size: 1.1em; 
    color: #fff; 
    text-decoration: none; 
    font-weight: 500; 
    margin-left: 40px; 
}

.navigation a::after{
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    width: 100%; 
    height: 3px; 
    background: #fff; 
    border-radius: 5px; 
    transform-origin: right;  
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after{
    transform: origin left;
    transform: scaleX(1);
}


.navigation .btnLogin-popup{
    width: 90px;
    height: 30px; 
    background: transparent; 
    border: 2px solid #fff; 
    cursor: pointer; 
    font-size: 1.1em; 
    color: #fff; 
    font-weight: 500; 
    margin-left: 40px;
    transition: .5s; 
}

.navigation .btnLogin-popup:hover{
    background: #fff; 
    color:  #162938
}

.wrapper {
    position: relative;
    width: 400px; 
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px; 

}
.wrapper.form-box{
    width: 100%;
    padding: 40px; 
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    position: absolute;
    transform: translateX(-400px); 
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px); 
}

.wrapper.active .form-box.register{
    transition: transform .18s ease; 
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 45px; 
    height: 45px; 
    background:#fff;
    font-size: 2em; 
    color: #112637; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom-left-radius: 20px; 
    cursor: pointer; 
    z-index: 1;
     
    

}

.form-box h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center; 

}

.input-box{
    position: relative; 
    width: 100%; 
    height: 50px; 
    border-bottom: 2px solid #ffffff;
    margin: 30px 0; 

}

.input-box label{
    position: absolute; 
    top: 50%;
    left: 5px; 
    transform: translateY(-50%);
    font-size: 1em;
    color: #fffefe;
    font-weight: 500; 
    pointer-events: none;
    transition: .25s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px; 
}
 
.input-box input{
    width: 100%;
    height: 100%; 
    background: transparent; 
    border: none; 
    outline: none;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute; 
    right: 8px; 
    font-size: 1.2em; 
    color: #fffcfc;
    line-height: 57px;

}

.remember-forgot{
    font-size: .9em; 
    color: #fff; 
    font-weight: 500; 
    margin: -15px 0 15px;
    display: flex;  
    justify-content: space-between; 
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #8fbadd;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn {
    width: 100%; 
    height: 45px; 
    background: #0a2942; 
    border: none; 
    outline: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size:.9em;
    color: #fff; 
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px; 
}

.login-register p a{
    color:  #9ccbf2; 
    text-decoration: none; 
    font-weight: 600; 
}

.login-register p a:hover{
    text-decoration: underline; 
}
/*
body {
    font-family: Roboto, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.top-left-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;  
    height: auto;  
}



header {
    background-color: #1e88e5;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
}

.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://source.unsplash.com/1600x400/?finance,learning');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
}

.header-content h1 {
    font-size: 3em;
    font-weight: bold;
    color: #1565c0;
    margin-bottom: 10px;
}

.header-content h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
    color: white;
}

.header-content p {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10px;
    color: gray;
}

nav {
    background-color: #000000;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #bbdefb;
}


main {
    padding: 2em;
}
.section {
    background-color: #1c1c1c;
    margin: 1em 0;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}
.section:hover {
    transform: scale(1.02);
}
.section h2 {
    color: #1e88e5;
}
.section p {
    color: #9e9e9e;
}
.button {
    display: inline-block;
    background-color: #1e88e5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #1565c0;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

*/