@keyframes animateY {
    0%   {left:0px; top:-50px;}
    100% {left:0px; top:0px;}
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

* {
    margin: 10px;
    background-color: black;
    color: gray;
    font-family: "Roboto", sans-serif;
}

.header a{
    color: cadetblue;
    text-align: left;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    animation: animateY 1s ease forwards;
    background: none;
    animation-timing-function: ease-in-out;
    text-decoration: none;
}

.header-content h4 {
    text-align: center;
    font-weight: 300;
}

.header-content p {
    text-align: center;
    font-weight: 500;
    animation: fade 5s ease;
}

.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: auto;
}

.message h2 {
    text-align: center;
    margin-left: 65px;
    font-size: 25px;
    text-decoration: none;
    color: cadetblue;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    animation: fade 5s ease;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a:hover {
    color: cadetblue;
}

nav ul li a {
    display: block;
    transition: color 0.5s ease;
    text-decoration: none;
}

.title h2 {
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    text-shadow: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    animation: fade 5s ease;
}

form {
    display: flex;
    gap: 10px;
}

form input, form select, form button {
    border: 1px solid cadetblue;
}

.mainTable table {
    width: 100%;
    margin-bottom: 20px;
}

.mainTable td {
    border: 1px solid cadetblue;
}

.mainTable th {
    padding: 10px;
}

.total {
    text-align: right;
    font-size: 15px;
}

#budgetingList {
    display: none;
}

#investingList {
    display: none;
}

#bankingList {
    display: none;
}

.content ul li a {
    color: gray;
    animation: fade 3s ease;
}

.content ul li {
    text-align: center;
    list-style-type: none
}

#buttonBudgeting {
    border: 1px solid gray;
    font-size: 20px;
    animation: fade 3s ease;
}

#buttonInvesting {
    border: 1px solid gray;
    font-size: 20px;
    animation: fade 3s ease;
}

#buttonBanking {
    border: 1px solid gray;
    font-size: 20px;
    animation: fade 3s ease;
}